# Лабораторная работа №1
## Анализ пассажиров корабля "Титаник"

**Заполните недостающий код ("You code here")**

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
pd.set_option("display.precision", 2)

** Чтение данных в Pandas DataFrame**

In [3]:
data = pd.read_csv('titanic_train.csv',
                  index_col='PassengerId')

**Первые 5 строк**

In [3]:
data.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

In [4]:
data.describe()

       Survived  Pclass     Age   SibSp   Parch    Fare
count    891.00  891.00  714.00  891.00  891.00  891.00
mean       0.38    2.31   29.70    0.52    0.38   32.20
std        0.49    0.84   14.53    1.10    0.81   49.69
min        0.00    1.00    0.42    0.00    0.00    0.00
25%        0.00    2.00   20.12    0.00    0.00    7.91
50%        0.00    3.00   28.00    0.00    0.00   14.45
75%        1.00    3.00   38.00    1.00    0.00   31.00
max        1.00    3.00   80.00    8.00    6.00  512.33

**Давайте выберем тех пассажиров, которые отправились в Cherbourg (Embarked = C) и заплатили > 200 фунтов за билет (fare > 200).**

Убедитесь, что вы понимаете, как на самом деле работает эта конструкция.

In [5]:
data[(data['Embarked'] == 'C') & (data.Fare > 200)].head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.52,B58 B60,C
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.33,NaN,C
300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.52,B58 B60,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C
378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.50,C82,C

** Мы можем отсортировать этих людей по тарифу (Fare) в порядке убывания. **

In [6]:
data[(data['Embarked'] == 'C') & 
     (data['Fare'] > 200)].sort_values(by='Fare',
                               ascending=False).head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.33,NaN,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.33,B51 B53 B55,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.33,B101,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C

**Давайте добавим новый признак.**

In [7]:
def age_category(age):
    '''
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    '''
    if age < 30:
        return 1
    elif age < 55:
        return 2
    elif age >= 55:
        return 3

In [8]:
age_categories = [age_category(age) for age in data.Age]
data['Age_category'] = age_categories

**Другой способ сделать это с `apply`.**

In [9]:
data['Age_category'] = data['Age'].apply(age_category)

**1. Сколько мужчин / женщин было на борту?**
- 412 мужчин и 479 женщин
- 314 мужчин и 577 женщин
- 479 мужчин и 412 женщин
- 577 мужчин и 314 женщин

In [10]:
# You code here
count_male = len(data[(data['Sex'] == 'male')])
count_female = len(data[(data['Sex'] == 'female')])

print(f"{count_male} мужчин и {count_female} женщин")

577 мужчин и 314 женщин

**2. Определите распределение функции `Pclass`. Теперь Для мужчин и женщин отдельно. Сколько людей из второго класса было на борту?**
- 104
- 108
- 112
- 125

In [28]:
# You code here
pclass_distribution = data['Pclass'].value_counts().sort_index()
print("==== Распределение пассажиров по классам ====")
print(pclass_distribution)
print("---------------------------------------------")
print('\n')

print("==== Распределение по классам для мужчин и женщин ====")
gender_pclass = data.groupby(['Sex', 'Pclass']).size().unstack()
print(gender_pclass)
print("---------------------------------------------")
print('\n')

count_second_class = len(data[data['Pclass'] == 2])
print(f"Кол-во людей из второго класса на борту: {count_second_class}")

==== Распределение пассажиров по классам ====
Pclass
1    216
2    184
3    491
Name: count, dtype: int64
---------------------------------------------


==== Распределение по классам для мужчин и женщин ====
Pclass    1    2    3
Sex
female   94   76  144
male    122  108  347
---------------------------------------------


Кол-во людей из второго класса на борту: 184

**3. Каковы медиана и стандартное отклонение`Fare`?. Округлите до 2-х знаков после запятой.**
- медиана 14,45, стандартное отклонение 49,69
- медиана 15,1, стандартное отклонение 12,15
- медиана 13,15, стандартное отклонение 35,3
- Медиана 17,43, стандартное отклонение - 39,1.

In [14]:
# You code here
median = data['Fare'].median()
std = data['Fare'].std()

print(f"медиана {median:.2f}, стандартное отклонение {std:.2f}")

медиана 14.45, стандартное отклонение 49.69

**4. Правда ли, что средний возраст выживших людей выше, чем у пассажиров, которые в конечном итоге умерли? **
- Да
- Нет

In [17]:
# You code here
avg_age_survived = data[data['Survived'] == 1]['Age'].mean()
avg_age_dead = data[data['Survived'] == 0]['Age'].mean()

if avg_age_survived > avg_age_dead:
    print("Да")
else:
    print("Нет")

Нет

**5. Это правда, что пассажиры моложе 30 лет. выжили чаще, чем те, кому больше 60 лет. Каковы доли выживших людей среди молодых и пожилых людей?**
- 22,7% среди молодежи и 40,6% среди пожилых
- 40,6% среди молодежи и 22,7% среди пожилых
- 35,3% среди молодежи и 27,4% среди пожилых
- 27,4% среди молодежи и 35,3% среди пожилых

In [33]:
# You code here
percent_young_survived = (len(data[(data['Age'] <= 30) & (data['Survived'] == 1)]) / len(data[(data['Age'] <= 30)])) * 100
percent_old_survived = (len(data[(data['Age'] > 60) & (data['Survived'] == 1)]) / len(data[(data['Age'] > 60)])) * 100

print(f"{percent_young_survived:.1f}% среди молодежи и {percent_old_survived:.1f}% среди пожилых")

40.6% среди молодежи и 22.7% среди пожилых

**6. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших людей среди мужчин и женщин?**
- 30,2% среди мужчин и 46,2% среди женщин
- 35,7% среди мужчин и 74,2% среди женщин
- 21,1% среди мужчин и 46,2% среди женщин
- 18,9% среди мужчин и 74,2% среди женщин

In [34]:
# You code here
percent_woman_survived = (len(data[(data['Sex'] == 'female') & (data['Survived'] == 1)]) / len(data[(data['Sex'] == 'female')])) * 100
percent_man_survived = (len(data[(data['Sex'] == 'male') & (data['Survived'] == 1)]) / len(data[(data['Sex'] == 'male')])) * 100

print(f"{percent_man_survived:.1f}% среди мужчин и {percent_woman_survived:.1f}% среди женщин")

18.9% среди мужчин и 74.2% среди женщин

**7. Какое имя наиболее популярно среди пассажиров мужского пола?**
- Charles
- Thomas
- William
- John

In [21]:
# You code here
list_required_names = ['Charles', 'Thomas', 'William', 'John']
count_people = {'Charles': 0, 'Thomas': 0, 'William': 0, 'John': 0}

for name in list_required_names:
    count_people[name] = len(data.loc[(data['Sex'] == 'male') & (data['Name'].str.contains(rf'\b(?:{name})\b'))])

print(f"Популярное имя среди пассажиров мужского пола: {max(count_people)}")

Популярное имя среди пассажиров мужского пола: William

**8. Как средний возраст мужчин / женщин зависит от `Pclass`? Выберите все правильные утверждения:**
- В среднем мужчины 1 класса старше 40 лет
- В среднем женщины 1 класса старше 40 лет
- Мужчины всех классов в среднем старше, чем женщины того же класса
- В среднем, пассажиры первого класса старше, чем пассажиры 2-го класса, которые старше, чем пассажиры 3-го класса.

In [31]:
# You code here
age_stats = data.groupby(['Sex', 'Pclass'])['Age'].mean().unstack()

male_class1 = age_stats.loc['male', 1]
female_class1 = age_stats.loc['female', 1]

statements = {
    "В среднем мужчины 1 класса старше 40 лет": male_class1 > 40,
    "В среднем женщины 1 класса старше 40 лет": female_class1 > 40,
    "Мужчины всех классов в среднем старше, чем женщины того же класса": all(age_stats.loc['male'] > age_stats.loc['female']),
    "В среднем, пассажиры первого класса старше, чем пассажиры 2-го класса, которые старше, чем пассажиры 3-го класса": 
        all(age_stats[1] > age_stats[2]) and all(age_stats[2] > age_stats[3])
}

print("\n==========Правильные утверждения============")
for statement, is_true in statements.items():
    if is_true:
        print(f"{statement}")

==========Правильные утверждения============
В среднем мужчины 1 класса старше 40 лет
Мужчины всех классов в среднем старше, чем женщины того же класса
В среднем, пассажиры первого класса старше, чем пассажиры 2-го класса, которые старше, чем пассажиры 3-го класса


Author: [Yury Kashnitsky](https://yorko.github.io). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.